@import "tailwindcss";

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 180deg;
  inherits: false;
}

@theme {
  /** Brand Colors Start*/
  --color-main: #c14fe6;
  --color-bg-body: #0d0d0d;

  --color-tint-600: #a62fca;
  --color-tint-500: #c14fe6;
  --color-tint-400: #d580f2;
  --color-tint-300: #e4aff8;
  --color-tint-200: #efd2fc;
  --color-tint-100: #f1e3f6;

  --color-shade-100: #721d88;
  --color-shade-200: #551666;
  --color-shade-300: #390e44;
  --color-shade-400: #2b0b33;
  --color-shade-500: #1c0722;
  --color-shade-600: #0e0411;
  /*! Brand Colors End*/

  /** State Colors Start */
  --color-error-500: #850d06;
  --color-error-400: #941a13;
  --color-error-300: #f44336;
  --color-error-200: #f66359;
  --color-error-100: #fbbab5;

  --color-warning-400: #994a00;
  --color-warning-300: #ff9800;
  --color-warning-200: #ffbe5d;
  --color-warning-100: #ffefbf;

  --color-info-400: #0c4691;
  --color-info-300: #2196f3;
  --color-info-200: #49a8f5;
  --color-info-100: #c7edfc;

  --color-success-400: #1b691e;
  --color-success-300: #4caf50;
  --color-success-200: #6bbe6e;
  --color-success-100: #caebd7;
  /*! State Colors End */

  /** Neutral Colors Start */
  --color-neutral-100: #b3b3b3;
  --color-neutral-200: #999999;
  --color-neutral-300: #454545;
  --color-neutral-400: #363636;
  --color-neutral-500: #303030;
  --color-neutral-600: #242424;
  --color-neutral-700: #1f1f1f;
  --color-neutral-800: #1b1b1b;
  --color-neutral-900: #191919;
  --color-neutral-1000: #121212;
  /*! Neutral Colors End */

  --radius-one: 4px;
  --radius-two: 8px;
  --radius-three: 16px;
  --radius-four: 24px;

  --spacing-rl: 108px;

  --background-image-gradient-cool: linear-gradient(
    180deg,
    var(--color-shade-200) 0%,
    var(--color-neutral-1000) 50%
  );
  --background-image-gradient-warm: linear-gradient(
    360deg,
    rgba(26, 26, 26, 0.5) 41.28%,
    #262626 52.11%
  );
}
@layer components {
  /* Light Back */
  .light_back {
    @apply absolute w-60 h-60 left-1/2 -translate-x-1/2 -top-20 bg-shade-100 blur-[150px] -z-10;
    @apply lg:w-95.5 lg:h-95.5 lg:left-[calc(50%-191px)] lg:translate-x-0 lg:-top-41.25 lg:blur-[237px];
  }
}
@layer base {
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-700 rounded-[10px];
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-600;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.neutral.700") transparent;
  }
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-container {
  background: #343433 !important;
}

.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--color-neutral-400);
  border-radius: 9999px;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-neutral-700);
}

.custom-radio:checked {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.custom-radio:focus {
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.2);
}

.react-datepicker__header {
  @apply bg-neutral-900! border-neutral-700! pt-4!;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  @apply text-neutral-200!;
}

.react-datepicker__day--selected {
  @apply bg-main! text-white! rounded-lg!;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-main/30! text-white! rounded-lg!;
}

.react-datepicker__navigation-icon::before {
  @apply border-neutral-400!;
}

.react-datepicker__year-select,
.react-datepicker__month-select {
  @apply bg-neutral-800! text-neutral-100! border-none! outline-none! rounded-md! p-1! cursor-pointer!;
}
.react-datepicker-wrapper {
  @apply w-full!;
}
